<h1><%= @annual_meeting.year %> Annual Meeting</h1>

<h2>Proxy Votes Collected</h2>
 <p>Total Count: <%= @total_vote_count %></p>
 <p>By Building:</p>
<table>
  <thead>
    <tr>
      <th>Building</th>
      <th>Votes Collected</th>
    </tr>
  </thead>

  <tbody>
    <% @vote_count_by_building.each do |building| %>
      <tr>
        <td><%= building[:building_name] %></td>
        <td><%= building[:building_votes] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%#= @annual_meeting.year %>


