<h1>Listing proxy_votes</h1>
Total Count: <%= @total_vote_count %>

<table>
  <thead>
    <tr>
      <th>Building</th>
      <th>Votes Collected</th>
    </tr>
  </thead>

  <tbody>
    <% @vote_count_by_building.each do |building| %>
      <tr>
        <td><%= building[:building_name] %></td>
        <td><%= building[:building_votes] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
